<!DOCTYPE html>
<html lang="en">

<head>
    <title>pasting.codes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <style>
        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .muted {
            opacity: 0.5;
            font-size: 12px;
        }

        h1 {
            font-size: 84px;
        }
    </style>
</head>

<body>
    <a onclick="window.location.href = '/'">
        <div class="container">
            <h1>404</h1>
            <p>
                <i>Unable to find your pasted code maybe it doesn't exists.</i>
            </p>
            <span class="muted">Tap to go home</span>
        </div>
    </a>
</body>

</html>