<!DOCTYPE html>
<html lang="en">

<head>
    <title><%- data.heading || website_name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180"
        href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest"
        href="/static/images/favicons/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <% if (data.code) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <% } %>
    <script src="/static/js/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .bg-matte-black {
            background-color: #28282B;
            color: #fff;
        }

        .navbar {
            padding: 2px;
        }

        .navbar-brand {
            font-size: 32px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-matte-black">
        <div class="container-fluid">
            <span id="heading" class="navbar-brand mb-0 fw-bolder p-0"><%- data.heading || website_name %></span>
            <% if (data.raw) { %>
                <div>
                    <a id="copy-content" title="Copy to Clipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="me-2"
                            viewBox="0 0 16 16" title="Copy to Clipboard">
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg>
                    </a>
                    <a href="/raw/<%- data.key %>" class="text-decoration-none text-white me-2" title="View Raw">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-file-earmark-code-fill" viewBox="0 0 16 16">
                            <path
                                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z" />
                        </svg>
                    </a>
                </div>
            <% } %>
        </div>
    </nav>
    <div class="container my-3">
        <div class="text-break" id="content"><%- data.content %></div>
    </div>
    <% if (data.code) { %>
        <script>
            $(document).ready((event) => {
                $("#content").html(`<pre>${hljs.highlightAuto($('#content').text()).value}</pre>`)
            })
        </script>
    <% } %>
    <script src="/static/js/paste.js"></script>
</body>

</html>