<div class="text-center mt-3">
    <p class="fs-5"><b class="text-capitalize">
            <%- website_name %>
        </b> is a minimalist publishing tool that allows you to create richly formatted posts and push them to the Web
        in just a click.
        In simple words it's a website like Telegra.ph but it can be used as a pastebin too.&nbsp;&nbsp;
    </p>
    <div class="d-flex gap-4 justify-content-center">
        <a href="/api" title="API Documentation">
            <img width="48" src="/static/images/api-icon.png">
        </a>
        <a href="/contact" title="Contact Us">
            <img width="48" src="/static/images/contact-icon.png">
        </a>
        <a href="https://github.com/viperadnan-git/pages/privacy-policy" title="Privacy Policy">
            <img width="48" src="/static/images/privacy-icon.png">
        </a>
        <a href="https://github.com/viperadnan-git/pasting" title="Source Code">
            <img width="48" src="/static/images/github-icon.png">
        </a>
    </div>
</div>